<%= render 'search_form' %>

<% if @products %>

  <h1>Search Products for &lsquo;<%= h(params[:q].strip) %>&rsquo;</h1>
  
  <% if @products.matches_estimated > 0 %>
    <p><%= pluralize @products.matches_estimated, 'product' %> found</p>
  <% end %>
  
  <% if correction = @products.spelling_correction %>
    Did you mean <%= link_to correction, search_path(:q => correction) %>?
  <% end %>

  <% if @products.empty? %>
    <p>Sorry, your search returned no results</p>
  <% else %>
    <% for product in @products %>
      <h3><%= link_to h(product.name), product_path(product) %></h3>
      <p><%= product.search_percent %>%</p>
    <% end %>
    
    <%= will_paginate @products %>

  <% end %>

  
<% else %>

  <h1>Product Search</h1>

<% end %>